<<<<<<< HEAD

=======
>>>>>>> main
body {
  color: #161616;
}

a {
  color: #161616;
}

.visually-hidden {
  display: none;
}

.card-category {
<<<<<<< HEAD
  color: #D73953;
}

.section-tagline {
  color: #D73953;
}

=======
  color: #d73953;
}

.section-tagline {
  color: #d73953;
}
>>>>>>> main
