<<<<<<< HEAD
/* Assign color using variable */
$main-color: #3D3D3D;

body {
  color: $main-color;
}

p {
  color: $main-color;
}

=======
$text-color: #3D3D3D;

body {
    color: $text-color;
}

p {
    color: $text-color;
}
>>>>>>> main
