<<<<<<< HEAD
/* Extend .info for success and warning */
.info {
  font-size: 12px;
}

.success {
  @extend .info;
  color: #00FF00;
}

.warning {
  @extend .info;
  color: #FF0000;
=======
.info {
    font-size: 12px;
}

.success {
    color: #00FF00;
    @extend .info;
}

.warning {
    color: #FF0000;
    @extend .info;
>>>>>>> main
}
